/* app css stylesheet */

@font-face {
  font-family: "Impact";
  src: url("fonts/impact.ttf"),
  url("fonts/impact.eot");
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
  background-color: #FF671F;
}


.btn, .btn-large {
  background-color: #78BE20;
}
.btn:hover, .btn-large:hover {
  background-color: #79c724;
}

.btn-large {
  font-size: 140%;
}

.btn-secondary{
  background-color: #757575;
}
.btn-secondary:hover{
  background-color: #959595;
}

#mainContainer {
  background-color: white;
  padding: 20px 0;
}

.clickable:hover {
  cursor: pointer;
}

.meme-img-small {
  max-width: 300px;
  width: 100%;
  margin: 1em;
}

.meme-img-large {
  max-width: 500px;
  width: 100%;
  margin: 1em;
}

.meme-img-div {
  max-width: 500px;
  height: 500px;
  width: 100%;
  margin: auto;
  background-size:cover;
}

.meme-template-img {
  max-width: 250px;
  width: 100%;
  margin: 1em;
}

.meme-editor-img {
  width: 100%;
}
.meme-editor-div {
  height: 300px;
  width: 300px;
  background-size:cover;
}

footer.page-footer {
  background-color: hsla(262,45%,45%,1);
  margin-top: 0;
}

nav.top-nav {
  height: 122px;
  box-shadow: none;
  background-color: hsla(262,45%,45%,1);
}

.page-title {
  line-height: 122px;
  font-size: 48px;
  /*margin-left: 1em;*/
}

.memetxt{
  font-family: 'Impact', 'Arial Black';
  font-size: 3em;
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  text-transform: uppercase;
}
.memetxt.top{
  margin-top: 0%;
}
.memetxt.bottom{
  margin-top: 55%;
}