<div class="row">
    <div class="col s12 center">
        <h4>ADD TEXT</h4>
    </div>
</div>

<div class="row">

    <div class="col s12 l6 right center">
        <input placeholder="TOP TEXT" ng-model="meme.topText" id="topText" type="text"><br>
        <input placeholder="BOTTOM TEXT" ng-model="meme.bottomText" id="bottomText" type="text"><br>
        <a ui-sref="imageSelection" class="waves-effect waves-light btn btn-secondary">Cancel <i class="material-icons right">clear</i></a>
        <a class="waves-effect waves-light btn" ng-click="createMeme()">Done <i class="material-icons large right">done</i></a>
    </div>
    <div class="col s12 l6 left center">
        <div class="meme-editor-div" ng-style="{'background-image':'url({{ image.url }})'}">
            <div ng-if="meme.topText"><p class="memetxt top">{{ meme.topText }}</p></div>
            <div ng-if="meme.bottomText"><p class="memetxt bottom">{{ meme.bottomText }}</p></div>
        </div>
    </div>
</div>
