<div class="row">
    <div class="col s12 center">
        <h4>ADD TEXT</h4>
    </div>
</div>

<div class="row">
    <div class="col s4 offset-s2 center">
        <!--<img class="meme-editor-img" ng-src="{{ image.url}}">-->
        <div class="meme-editor-div" ng-style="{'background-image':'url({{ image.url }})'}">
            <div ng-if="meme.topText"><p class="memetxt top">{{ meme.topText }}</p></div>
            <div ng-if="meme.bottomText"><p class="memetxt bottom">{{ meme.bottomText }}</p></div>
        </div>
    </div>
    <div class="col s4 center">
        <input placeholder="Top Text" ng-model="meme.topText" type="text">
        <input placeholder="Bottom Text" ng-model="meme.bottomText" id="bottomText" type="text">
        <a ui-sref="imageSelection" class="waves-effect waves-light btn btn-secondary">Cancel <i class="material-icons right">clear</i></a>
        <a class="waves-effect waves-light btn" ng-click="createMeme()">Done <i class="material-icons large right">done</i></a>
    </div>
</div>
